<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">Sistema de Actividades</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/"><i class="fas fa-home"></i> Inicio</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="/empleado"><i class="fas fa-user-plus"></i> Empleados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/actividades"><i class="fas fa-clipboard-list"></i> Actividades</a>
      </li>
    </ul>
  </div>
</nav>